* {
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;

}

.container {
  width: 700px;
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

nav {
  font-style: 18px;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}

h1,
h2,
h3,
h4,
a,
p,
li {
  font-family: sans-serif;
}

h1,
h2,
h3,
a {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  /* 所有字母大写 */
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-style: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

a:link {
  /* 针对没有跳转地址的超链接标签 */
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  /* 已访问 */
  color: #1098ad;
}

a:hover {
  /* 鼠标悬停 */
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  /* 鼠标点击时 */
  font-style: italic;
  background-color: black;
}

.post-img {
  width: 100%;
}